$h1: 2.4rem;
$h2: 2.2rem;
$h3: 2rem;
$h4: 1.6rem;
$h5: 1.4rem;
$h6: 1.2rem;

$white: #fafafa;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@import "global";
@import "product";
